.title{
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.item {
  background: #181817;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.2s ease, background 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
  background: #414141;
}

.single {
  background: #303030;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.sortBox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #bcbcb7;
  background-color: #181817;
  color: #e5e5e1;
  font-size: 1rem;
}
